{% extends "testcase/base.html" %}
{% load staticfiles %}
{% block category_instance %}active{% endblock %}
{% block body_block %}
<h1>{{title}}</h1>

<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<dl>
		
		<dt>{{ form.project_name.label_tag }}</dt>
		<dd>{{ form.project_name }}</dd>
		<dt>{{ form.testcase_choice.label_tag }}</dt>
		<dd>
		<div>{{ form.testcase_choice }}</div>
		{% if selected_cases %}
		<div id='testcase-detail' sel='{{ selected_cases }}'>
		{% else %}
		<div id='testcase-detail'>
		{% endif %}
		</div>
		</dd>
	</dl>
	<p><input type="submit" value="Save"/></p>
</form>
<link href="{% static "css/lh-tree.css" %}" rel="stylesheet">
{% endblock %}
{% block end_script_block %}
<script src="{% static "js/AddTestProject.js" %}"></script>
<script src="{% static "js/lh-tree.js" %}"></script>
<script type="text/javascript">$('#project_detail').treed_checkbox();</script>
{% endblock %}
