{% extends "testcase/hasWaitPrompt.html" %}
{% load staticfiles %}
{% block category_library %}active{% endblock %}
{% block detail_content %}
<h1 class="subTitle">Are you sure to delete this project "{{ project.name }}" ?</h1>
<form method="POST" action="/testcase/manipulate/">
	{% csrf_token %}
	<input hidden name="project-delete" value="{{ project.id }}"/>
	<button class="btn" type="submit">Sure</button>
	<button class="btn" type="button" onclick="window.location.href='/testcase/Project'">Cancel</button>
</form>
{% endblock %}
{% block end_script_block %}
{% endblock %}


